body {
    font-family: Montserrat;
    background-color: cyan;
    padding: 0px;
}
#headder{
font-size: 15px;
font-family: Montserrat;
background-color: white;
padding: 10px;
text-align: left;
margin-left: 0px;
margin-right: 10px;
width: 100%;
}
.headding{
    font-size: 25px;
    text-align: right;
    background-color: white;
    margin-left: 1170px;
    margin-right: 5px;
    width: 100%;
    padding: 10px;
}
p{
    font-size: 14px;
    color: rgb(255, 0, 13);
    font-family: Montserrat;
}
h2{
    font-size: 25px;
    font-family: Montserrat;
}
li{
    font-size: 14px;
    font-family: Montserrat;
    color: darkblue;
}
.list{
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.second{
    float:left;
    width: 22%;
    margin: .5%;
    padding: 1%;
    height: 500px;
    background-color: cyan;

    
}
.third{
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
}

#footer{
    background-color: black;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin: 0% auto;
    clear: both;
}
  